@function toFixed($percentage) {
	@return floor($percentage*100)/100;
}
@mixin toggle() {
	div {
		cursor: pointer;
		width: 40px;
		height: 20px;
		background-color: #333;
		display: block;
		border-radius: 20px;
		position: relative;
		border: .1px solid #FFF;
		&::after {
			content: '';
			position: absolute;
			top: 1px;
			left: 1px;
			width: 18px;
			height: 18px;
			background: #FFF;
			border-radius: 18px;
			transition: 0.3s;
		}
		&:active::after {
			width: 26px;
		}
	}
	input {
		display: none;
		&:checked {
			+ div {
				background: limegreen;
				&::after {
					left: calc(100% - 1px);
					transform: translateX(-100%);
				}
			}
		}
	}
}
@mixin table-vscroll() {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	border-collapse: collapse;
	thead, tbody tr {
		display: table;
		table-layout: fixed;
	}
	thead {
		flex: 0 0 auto;
		display: block;
		overflow: hidden scroll;
		tr {
			display: flex;
			th {
				flex: 1;
			}
		}
	}
	tbody {
		flex: 1 1 auto;
		display: block;
		overflow: hidden scroll;
		tr {
			width: 100%;
		}
	}
}
@mixin var($prop, $var, $fall) {
	#{$prop}: $fall;
	#{$prop}: var($var);
}
@mixin not($exclude,$prop,$val,$none: none) {
	#{$prop}: $val;
	&:#{$exclude} {
		#{$prop}: $none;
	}
}
@mixin center {
	bottom: 50%;
	right: 50%;
	transform: translate(50%,50%);
}
@mixin centerX {
	right: 50%;
	transform: translateX(50%);
}
@mixin centerY {
	bottom: 50%;
	transform: translateY(50%);
}
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin display-grid() {
	display: -ms-grid;
	display: grid;
}
@mixin flex($dir: null, $justify: null, $align-items: null, $wrap: null) {
	display: flex;
	flex-direction: $dir;
	justify-content: $justify;
	align-items: $align-items;
	flex-wrap: $wrap;
}
@mixin svg($fill: null, $width: null, $size: null, $stroke: null, $join: null) {
	fill: $fill;
	width: $width;
	height: $width;
	stroke-width: $size;
	stroke: $stroke;
	stroke-linejoin: $join;
}
@mixin scrollbar($thumb: null, $track: null) {
	scrollbar-color: $thumb $track;
	scrollbar-width: thin;
	*::-webkit-scrollbar {
		background-color: $track;
		width: 4px;
	}
	*::-webkit-scrollbar-thumb {
		background-color: $thumb;
	}
}
@mixin hideInputSpinners {
	&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&[type=number] {
		-moz-appearance:textfield;
	}
}